@import url('https://fonts.googleapis.com/css2?family=Protest+Riot&display=swap');

body {
    font-family: 'Protest Riot', sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

/* Estilos para o contêiner */
.container {
    text-align: center;
}

/* Estilos para o título */
h1 {
    font-size: 40px;
    color: greenyellow;
    text-shadow: 0 4px 4px rebeccapurple;
    margin-bottom: 20px;
}

/* Estilos para o parágrafo */
p {
    font-size: 18px;
    color: #666;
    margin-bottom: 20px;
    color: #666;
    cursor: pointer;
}

/* Estilos para o link */
a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #663399;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;

}

/* Estilos para o link quando hover */
a:hover {
    background-color: #8141c1;
}

/* Estilos para o link quando hover */
a:focus {
    outline: none;
}

p:hover {
    opacity: 0.7;
}

/* Estilos para o link quando hover */
a:active {
    transform: translateY(1px);
}

form {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 20px;
    width: 300px;
}

label {
    font-weight: bold;
    color: greenyellow;
    text-shadow: 0 3px 1px rebeccapurple;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

h2 {
        color:  rebeccapurple; /* Cor do texto verde */
        font-size: 24px; /* Tamanho da fonte */
        margin-top: 20px; /* Espaço superior */
        margin-bottom: 10px; /* Espaço inferior */
        text-shadow: 0 1px 2px greenyellow;
}
